numpy == 1.17
opencv-python >= 4.1
torch==1.8.1+cu111 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cu111 -f https://download.pytorch.org/whl/torch_stable.html
matplotlib
pycocotools
tqdm
pillow
tensorboard >= 1.14
tabulate
git+https://github.com/thomasbrandon/mish-cuda/
PyYaml==5.4.1
